# Base de datos
DB_DRIVER=sqlite
DATABASE_URL=./tuturno.db

# Auth / JWT
JWT_SECRET=super-secret-key-min-32-chars-change-this-in-production
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# WebPush / Notificaciones
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=mailto:admin@tuturno.co

# App
NUXT_PUBLIC_APP_URL=http://localhost:3000
NUXT_PUBLIC_WS_URL=ws://localhost:3000
NODE_ENV=development